.todo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #cccccc;
    margin-top: 5px;
}
.header{
    background-image: linear-gradient(rgb(162 121 29 / 80%),rgb(192 192 192)),url(./images/img.jpg);
    background-size: cover;   
}
 body{
    background-image: url(./images/text.jpg);
    background-size: cover;
}